<!DOCTYPE html>
<html>
  <head>
    <title>Brain Battle | Game</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://kit.fontawesome.com/06745a3a6c.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
  </head>
  <body>
    <main class="gameMainContainer">
      <div class="gameTextContainer player1Container">
        <button id="player1Button" class="gameStart player1Start"><i class="fa-solid fa-play"></i> Start</button>
        <h3 class="player player1">Player 1</h3>
      </div>
      <div class="gameTextContainer player2Container">
        <button id="player2Button" class="gameStart player2Start"><i class="fa-solid fa-play"></i> Start</button>
        <h3 class="player player2">Player 2</h3>
      </div>
    </main>
    <script src="/javascripts/main.js"></script>
  </body>
</html>
